body {
  font-family: Verdana;
  background:#9ACD32;
  margin:0;
  padding:0;
}

header {
  grid-area:header;
  background:#FFFFFF;
  text-align:center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  padding: 0.4em 8px 7px;
}

.navbar a {
  float:left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding: 14px 16px;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#9ACD32;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
nav {
    grid-area:nav;
    background:#226324;
      padding:0px;
}
nav ul{
  padding:0px;
  text-align:center;
}
nav li{
  list-style-type:none;
  padding:0px;
}

main {
    grid-area:main;
    background:#FFFFFF;
    color:#000000;
    }

main h2 {
    text-align:center;
    margin:1%;
    color:#000000;
    padding:1.5%;
}

main p {
    color:#333;
    padding:1% 2%;
    font-size:1em;
}

footer {
    grid-area:footer;
    background:#FFFFFF;
    text-align:center;
    }

footer p {
     font-size:1em;
     color:#ffffff;
     margin:0;
}

.logo{
  max-width:100%;
  margin:auto;
  width:40%;
}

audio {
 max-width: 100%;
 grid-area: audio;
}
video {
  max-width:  100%;
  height:auto;
  grid-area: video;
}
.video, .audio {
    margin:0;
    display: grid;
    justify-content:space-around;
}
    

input {
  margin: 1px 0 10px 0;
}

.call {
    border-radius:5px;
    text-align:center;
    background-color:#0000b0;
    width:60%;
    padding: 5px;
    margin:10px auto 0 auto;
}
 .call p{
    color:#ffffff;
    font-size:1.5em;
    padding:0;
    margin:0;
}
@keyframes logo {
   0% {
      opacity: 0;
      transform:  translatey(-1em);
   }
   100% {
      opacity: 1;
      transform: translatey(0);
   }
}

@keyframes words {
   0% {
      opacity: 0;
      transform: translateX(1em);
   }
    50% {
      opacity: .5;
      transform: translateY(.1em);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation: none !important;
      transition: none !important;
      }
}



/*---------------------------Mobile Layout----------------------------*/
.container { /*for tests.html*/
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "video"
    "audio"
    "footer";
    }


/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }


/*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {
.container1 { /*for tests.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }


/* Below will change from hamburger menu to side navigation*/
  
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:left;
  }

#flex-nav li {
    padding-left:10px;
    padding-top:10px;
  }

}

/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {

.container{
  display:grid;
  grid-template-areas:
  "header header"
  "nav nav"
  "main video"
  "main audio"
  "footer footer"
}
.nestedgrid1{
    display:grid;
grid-template-columns:1.5fr 1fr;
grid-template-areas:
"section fig1";
}
.nestedgrid2{
display:grid;
grid-template-columns:1fr 1fr;
grid-template-areas:
"video audio";
}